@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-thumb {
    background-color: #0c0a0990;
    border-radius: 10rem;
    border: 1px solid #44403c90;
}


*::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

*::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

::selection {
    color: #000000;
    background: #eab308;
}