@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: #0c0a0990;
    border-radius: 10rem;
    border: 1px solid #44403c90;
}


body::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

body::-webkit-scrollbar-track-piece:end {
    background: transparent;
}